.overview-main-content {
  margin-top: 3.2rem;
  display: flex;
  gap: 2rem;
}

.overview-content-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.overview-content-column:first-child {
  flex: 1.5;
}

.overview-content-column:nth-child(2) {
  flex: 1;
}

/* Component Classes */

.overview-section-content {
  margin-top: 3.2rem;
}

@media screen and (max-width: 650px) {
  .overview-main-content {
    flex-direction: column;
  }
}
