.budgets-view-content {
  display: flex;
  gap: 2rem;
  /* border: 2px solid red; */
}

.budgets-content-column {
  flex: 1;
  border: 1px solid black;
}

@media screen and (max-width: 1050px) {
  .budgets-view-content {
    flex-direction: column;
  }
}
