.budgets-view-content {
  display: flex;
  border: 2px solid red;
  height: 500px;
}

.budgets-content-column {
  flex: 1;
  border: 1px solid black;
}

@media screen and (max-width: 1050px) {
  .budgets-view-content {
    flex-direction: column;
  }
}
