.summary-card {
  padding: 2.4rem;
  width: 100%;
  /* flex: 1; */
  border-radius: 1rem;
  box-shadow: 2px -2px 15px rgba(15, 20, 20, 0.3) inset;
}

.dark-bg {
  background: var(--grey900);
  color: var(--white);
  box-shadow: 2px -2px 5px var(--blue) inset;
}

.white-bg {
  background: var(--white);
}

.summary-category-h4 {
  margin-bottom: 2rem;
}
