.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.page-btns-row {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.25rem;
  transition: 0.5s ease;
}

.signout-btn:hover {
  transform: translateX(-0.5rem);
}

.hide-menu-btn {
  transform: translateY(5rem);
}

.show-menu-btn {
  transform: translateY(0rem);
}

@media screen and (max-width: 1050px) {
  .page-header-h1 {
    font-size: 1.4rem;
  }

  .desktop-btn-text {
    display: none;
  }

  .icon-menu-btn {
    transform: translateY(5rem);
  }
}
