.search-form-div {
  position: relative;
  flex: 1;
}

.dropdown-row {
  /* border: 1px solid red; */
  flex: 2;
  display: flex;
}

.dropdown-column {
  flex: 1;
  /* border: 1px solid green; */
}

.transaction-table {
  width: 100%;
  /* border: 3px solid green; */
}

.transaction-row {
  /* padding: 1.2rem; */
  /* border: 2px solid red; */
}

td,
th {
  padding: 1rem 0.5rem;
}

td {
  border-bottom: 2px solid var(--beige100);
}

tr {
  padding: 1.2rem;
}
