.transaction-filter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form-div {
  position: relative;
  flex: 1;
}

.dropdown-row {
  /* border: 1px solid red; */
  flex: 2;
  display: flex;
}

.dropdown-column {
  flex: 1;
  /* border: 1px solid green; */
}

.transaction-table {
  width: 100%;
  /* border: 3px solid green; */
}

.transaction-row {
  /* padding: 1.2rem; */
  /* border: 2px solid red; */
}

td,
th {
  padding: 1rem 0.5rem;
}

td {
  border-bottom: 2px solid var(--beige100);
}

tr {
  padding: 1.2rem;
}

.pages {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  margin: 1rem 0;
}

.active-page {
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (max-width: 1050px) {
  .transaction-filter-row {
    flex-direction: column;
    width: 100%;
  }
  .search-form-div {
    width: 100%;
  }

  .dropdown-row {
    /* flex-direction: column; */
    width: 100%;
    /* gap: 1rem; */
  }

  .dropdown-column {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .dropdown-row {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
