.app[data-theme="default"] {
  --navBg: var(--grey900);
  --mainFont: var(--publicSans);
  --navLinkText: var(--grey300);
  --activeLinkText: var(--grey900);
  --activeLinkBg: var(--beige100);
  --neutralText: var(--grey300);
  --darkText: var(--grey900);
  --labelText: var(--grey500);
}

body {
  background: var(--beige100);
}

.app {
  display: flex;
  font-family: var(--mainFont);
  /* border: 2px solid red; */
}

.app-content {
  width: 100%;
  position: relative;
  /* border: 5px solid red; */
}

.accordion-open {
  transition: 0.5s ease;
  transform: scaleX(1);
}

.accordion-close {
  transition: 0.5s ease;
  transform: scaleX(0);
}

.section-card {
  background: var(--white);
  padding: 3.2rem;
  border-radius: 1rem;
}

.section-card-small-padding {
  padding: 2rem;
  border-radius: 1rem;
}

/* Recurring/Budgets utility classes */

.flex {
  display: flex;
}

.view-content-flex {
  display: flex;
  gap: 2rem;
  /* border: 2px solid red; */
}

.view-content-column {
  /* flex: 1; */
  /* border: 1px solid black; */
}

.thin-content-column {
  flex: 1;
}

.wide-content-column {
  flex: 2;
}

.border-left {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 4px;
}

/* Animations */
@keyframes dropdown {
  100% {
    transform: translateY(0rem);
  }
}

@keyframes slideright {
  100% {
    transform: translateX(0rem);
  }
}

@keyframes scaleYFromCenter {
  100% {
    transform: scaleY(01);
  }
}

@media screen and (max-width: 1050px) {
  .section-card {
    padding: 1.2rem;
  }

  .view-content-flex {
    flex-direction: column;
  }
}
