.recurring-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--beige100);
  padding: 2rem 1.6rem;
  border-radius: 1rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.recurring-item-border-left {
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
}
