.modal-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  transition: 0.5s ease;
  z-index: 5;
}

.modal-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
}

.show-modaloverlay {
  transform: translateX(0%);
}

.hide-modaloverlay {
  transform: translateX(-100vw);
}
